<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Formulario</title>
</head>
<body>
  <h1>Formulario</h1>
  <form action="../public/index.php" method="GET">
    <fieldset>
      <legend>Elige tu acción</legend>
      <label>Nombre de usuario: </label>
        <input type="text" name="usuario">
      <br><br>
      <button name="accion" value="saludar">Saludar</button>
      <button name="accion" value="despedir">Despedirse</button>
    </fieldset>
  </form>
</body>
</html>